<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movienight7</title>
    <style>

        body {
            background: url(https://i.imgur.com/roWmotE.jpeg);
            background-size: 400px;
            background-position: top;
            background-color: rgb(234, 188, 188);

        } 
        h1 { 
            text-align: center;
            color:rgb(45, 83, 238)
            
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to movie night 7!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/movies">Movies</a>
                </li>
                <!-- <li>
                    <a href="/contribute">Contribute new movie</a>
                </li> -->
            </ul>
        </nav>
    </header>
</body>
</html>