<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movienight7</title>
    <style>
        body {
            background: url(https://i.imgur.com/roWmotE.jpeg);
            background-size: 400px;
            background-position: top;
            background-color: rgb(234, 188, 188);

        } 
    </style>
</head>
<body>
    <header>
        <h1>Contribute a Movie</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/movies">Movies Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/movies" method="POST">
            <input type="text" title="title" />
            <input type="submit" value="Contribute a Movie" />
        </form>
    </main>
</body>
</html>